.content-wrapper,
.vertical-unit {
  padding-top: $vertical-unit-spacing;
  padding-bottom: $vertical-unit-spacing;
}

.divider {
  border-bottom: 1px solid $gray-300;
}

.text,
.rich-text {
  padding: 3px 5px;
}

.label {
  font-weight: $font-weight-bold;
}
