.footer {
  padding: $vertical-space;
  color: $gray-800;
  text-align: center;
  background-color: $gray-100;
  border-top: .05rem solid $gray-500;
  // position: fixed;
  // bottom: 0;
  width: 100%;
}
